/PMLWebApps/target/
/PMLWebSeriveApps/target/
/PMLWebClientApps/target/
/WebApplication1/nbproject/private/
/PMLWebService/target/
/WebApplication1/build/
/WebApplication1/dist/
/mavenproject1/target/
/Universitas_MDM_DB/nbproject/private/
/Universitas_MDM_DB/build/
/Universitas_MDM_DB/dist/
/Universitas_PML_Web_App/nbproject/private/
/Universitas_PML_Web_App/build/
/Universitas_PML_Web_App/dist/
/Universitas_PML_App/nbproject/private/
/Universitas_PML_App/build/
/Universitas_MDM_WebService/nbproject/private/
/Universitas_MDM_WebService/build/
/MDM_Service/nbproject/private/
/MDM_Service/build/
/MDM_Service/dist/
/xxx/nbproject/private/
/xxx/build/
/MDMService/nbproject/private/
/abc/nbproject/private/
/MDMService/build/
/abc/build/
/myService/build/
/myService/dist/
/myService/nbproject/private/
/xxxxx/nbproject/private/
/xxxxx/build/
/Universitas_PML_App/dist/